################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/menhguin.github.io/FileContentIndex/29e9d221-15f4-4f74-bc74-7ab166cba3a0.vsidx
/.vs/menhguin.github.io/FileContentIndex/ffb13d3e-c7a7-4475-b2ff-eee9484e25f4.vsidx
/.vs/menhguin.github.io/FileContentIndex/072c2a19-4931-499b-9f95-9f04893a810d.vsidx
