---
import Card from '@/components/Card.astro'
import projectOne from '@/images/project-1.png'
import projectTwo from '@/images/project-2.png'
import projectThree from '@/images/project-3.png'
import projectFour from '@/images/project-4.png'
---

<section
  data-projects
  class="flex flex-col gap-10 lg:gap-12 py-32 lg:pb-40 2xl:py-48 px-8 overflow-clip"
>
  <h2
    class="w-full max-w-2xl mx-auto text-dark-blue text-3xl lg:text-4xl 2xl:text-5xl text-center font-semibold"
  >
    Featured Projects
  </h2>

  <div data-projects-wrapper class="w-full max-w-2xl mx-auto">
    <ul data-projects-list class="flex gap-8 lg:gap-16 w-max">
      <li>
        <Card
          image={projectOne}
          title="Min-P"
          description="A new LLM sampling method that improves benchmarks at 10-20% at temp 1, and greatly improves coherence at high temp. It's currently the SOTA in the open-source community."
          link="https://arxiv.org/abs/2407.01082" 
        />
      </li>
      <li>
        <Card
          image={projectTwo}
          title="Weights.gg"
          description="An AI voice cloning platform with >1 million monthly users. It spun off into a venture-funded startup."
          link="https://weights.gg/" 
        />
      </li>
      <li>
        <Card
          image={projectThree}
          title="Superlinear"
          description="An AI safety bounty platform that helps people find funding and tasks that contribute to AI safety."
          link="https://www.super-linear.org/" 
        />
      </li>
      <li>
        <Card
          image={projectFour}
          title="Climate Activism"
          description="Co-founded Fridays4Future SG, a local climate activist org that successfully lobbied for Net Zero 2050 and carbon tax goals."
          link="https://www.aljazeera.com/news/2020/4/10/climate-change-activists-test-strict-singapore-protest-laws" 
        />
      </li>
    </ul>
  </div>
</section>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { DOMLoaded } from '@/ts/events'

  DOMLoaded(() => {
    gsap.registerPlugin(ScrollTrigger)
    const projects = document.querySelector('[data-projects]') as HTMLElement
    const projectsWrapper = projects.querySelector(
      '[data-projects-wrapper]'
    ) as HTMLElement
    const projectsList = projects.querySelector(
      '[data-projects-list]'
    ) as HTMLElement
    const width = projectsList.clientWidth - projectsWrapper.clientWidth
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: projects,
        start: 'top top',
        end: 'bottom top',
        scrub: true,
        pin: true,
      },
    })

    tl.fromTo(projectsList, { x: 0 }, { x: -width, duration: 1 })
  })
</script>
